.container {
  &.category-title {
    h1 {
      font-family: "Roboto Condensed", serif;
      font-weight: 600;
      font-size: 24px;
      line-height: 42.49px;
      text-transform: uppercase;
      color: $text_color;
    }
  }
  &.category-seo-text {
    p {
      font-family: "Roboto Condensed", serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 25.6px;
      color: $small_text_color;
    }
  }
}

@media (max-width: 991px) {
  .container {
    &.category-title {
      h1 {
        font-size: 20px;
        line-height: 1.2;
        margin-top: 16px;
      }
    }
    &.category-seo-text {
      p {
        font-size: 14px;
        line-height: 1.1;
      }
    }
  }
}
