.category-left-filters-box {
  &__button {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 15px 39px 10px;
    background-color: $white;
    border: 1px solid $grey;
    width: 296px;
    h3 {
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 177.023%;
      color: $text_color;
    }
    img {
      margin-top: -10px;
      margin-right: -13px;
      &.rotate {
        transition: 0.3s;
        transform: rotate(180deg);
      }
    }
  }
  .category-left-filters {
    display: flex;
    flex-direction: column;
    width: 296px;
    height: auto;
    margin-right: 24px;
    margin-bottom: 65px;
    background-color: $white;
    &.show {
      display: flex;
    }
    &__slot {
      &:first-of-type {
        .header {
          h3 {
            margin-top: 0;
          }
        }
      }
      .header {
        h3 {
          font-family: "Roboto Condensed", serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 177.023%;
          color: $text_color;
          margin: 20px 0;
        }
        &.bottom-line {
          border-bottom: 1px solid $border_grey;
          margin-bottom: 15px;
        }
      }
      .content {
        &.hidden {
          display: none;
          .custom-checkbox-container {
            margin-bottom: 10px;
            &:first-of-type {
              margin-top: 3px;
            }
          }
        }
        &.show {
          display: flex;
          flex-direction: column;
        }
        .custom-checkbox-container {
          font-family: "Roboto Condensed", serif;
          display: inline-flex;
          align-items: center;
          font-size: 12px;
          font-weight: 400;
          width: 100%;
          margin-bottom: 8px;
          .custom-checkbox-checkmark {
            width: 18px;
            height: 18px;
            top: 0;
            &::after {
              left: 7px;
              top: 4px;
              width: 5px;
              height: 9px;
            }
          }
        }
        .row-inputs {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          &__left,
          &__right {
            input {
              height: 35px;
              width: 100%;
              padding: 0 15px;
              margin: 0;
            }
          }
          .spacer {
            display: inline-flex;
            padding: 0 10px;
            line-height: 35px;
            height: 35px;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
          }
        }
        input {
          height: 35px;
          width: 100%;
          padding: 0 15px;
          margin: 0;
        }
        .color {
          border: 0;
          width: 15px;
          height: 15px;
          min-width: 15px;
          min-height: 15px;
          &.white {
            border: 1px solid $grey5;
          }
        }
      }
      .show-more {
        cursor: pointer;
        user-select: none;
        &.hide {
          display: none;
        }
        svg {
          margin: 0 24px 0 4px;
        }
        span {
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          color: $main_color;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .category-left-filters-box {
    .category-left-filters {
      display: none;
      padding: 24px;
      margin-bottom: 15px;
    }
    &__button {
      display: flex;
      width: 100%;
      font-size: 15px;
      padding: 10px 28px 0 24px;
      border-left: 0;
      border-right: 0;
      border-top: 0;
      img {
        display: none;
      }
      &::after {
        border: 0;
        position: absolute;
        content: "";
        top: 52px;
        right: 36px;
        display: block;
        background: url(./../assets/icons/common/header/menu-arrow-down.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 14px;
        height: 14px;
        transform: rotate(0deg);
        transition: 0.6s;
      }
    }
    &:has(.category-left-filters.show) {
      .category-left-filters-box__button::after {
        top: 46px;
        transform: rotate(180deg);
      }
    }
  }
}
