#blog {
  position: relative;
  padding-top: 64px;
}

.blog_swiper {
  overflow: hidden;
  margin-bottom: 70px;
  padding-bottom: 79px;
  .swiper-slide {
    position: relative;
    .article_swiper_box__text {
      background-color: $blog_grey_opacity;
      &--date,
      &--title,
      &--see-more {
        p,
        a {
          color: $white;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  #blog {
    padding-top: 0;
  }
  .blog_swiper {
    margin-bottom: 24px;
    padding-bottom: 24px;
  }
}
