#blog {
  position: relative;
  padding-top: 64px;
}

.blog_swiper {
  overflow: hidden;
  height: 562px;
  margin-bottom: 87px;
  box-shadow: 0px -1px 40px 5px #00000014;
  border-radius: 10px;
  .swiper-slide {
    position: relative;
  }
}

@media (max-width: 991px) {
  #blog {
    padding-top: 0;
  }
  .blog_swiper {
    margin-bottom: 24px;
  }
}
