.categories-tabs-swiper {
  margin: 68px auto;
  @media (max-width: 991px) {
    .title-btns-arrows {
      align-items: center;
    }
  }
  * {
    user-select: none;
  }
  .tab-nav-arrows {
    #prevTabBtn {
      all: unset;
      display: flex;
      width: 52px;
      height: 52px;
      background: url("./../assets/icons/main_page/categories_swiper/main-page-categories-arrow-left.svg");
      background-repeat: no-repeat;
      background-size: 14px;
      background-position: center;
      background-color: $white;
      box-shadow: 0px 0px 30.2px 1px #0000001a;
      border-radius: 100%;
      cursor: pointer;
      font-size: 0;
      @media (max-width: 991px) {
        width: 36px;
        height: 36px;
        background-size: 9px;
      }
      &:hover {
        background-color: #c90c0f17;
      }
    }
    #nextTabBtn {
      all: unset;
      display: flex;
      width: 52px;
      height: 52px;
      background: url("./../assets/icons/main_page/categories_swiper/main-page-categories-arrow-right.svg");
      background-repeat: no-repeat;
      background-size: 14px;
      background-position: center;
      background-color: $white;
      box-shadow: 0px 0px 30.2px 1px #0000001a;
      border-radius: 100%;
      cursor: pointer;
      font-size: 0;
      margin-left: 20px;
      @media (max-width: 991px) {
        width: 36px;
        height: 36px;
        background-size: 9px;
      }
      &:hover {
        background-color: #c90c0f17;
      }
    }
  }
  .tab-nav-arrows {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .nav-tabs {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
    gap: 32px;
    border: 0;
    overflow: hidden;
    @media (max-width: 991px) {
      gap: 12px;
      overflow-x: scroll;
    }
    .nav-link {
      border: 0;
      max-width: 154px;
      padding: 8px;
      &.active {
        .nav-tab-item {
          filter: invert(36%) sepia(65%) saturate(5003%) hue-rotate(339deg)
            brightness(73%) contrast(130%);
        }
      }
      .nav-tab-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__img {
          display: flex;
          height: 49px;
          width: auto;
          max-width: 49px;
          object-fit: contain;
          margin-bottom: 10px;
        }
        &__text {
          font-family: "Roboto Condensed", serif;
          font-weight: 600;
          font-size: 14px;
          line-height: 21px;
          letter-spacing: 0%;
          text-align: center;
          text-transform: uppercase;
          color: $text_color;
        }
        @media (max-width: 991px) {
          .nav-tab-item__img {
            height: 32px;
            max-width: 32px;
            margin-bottom: 8px;
          }
          .nav-tab-item__text {
            font-size: 12px;
            line-height: 15px;
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .categories-tabs-swiper {
    margin: 32px 0;
  }
}
