.categories-tabs-swiper {
  margin: 68px auto;
  .tab-nav-arrows {
    #prevTabBtn {
      all: unset;
      display: flex;
      width: 52px;
      height: 52px;
      background: url("./../assets/icons/main_page/categories_swiper/main-page-categories-arrow-left.svg");
      background-repeat: no-repeat;
      background-size: 14px;
      background-position: center;
      background-color: $white;
      box-shadow: 0px 0px 30.2px 1px #0000001a;
      border-radius: 100%;
      cursor: pointer;
      font-size: 0;
      &:hover {
        background-color: #c90c0f17;
      }
    }
    #nextTabBtn {
      all: unset;
      display: flex;
      width: 52px;
      height: 52px;
      background: url("./../assets/icons/main_page/categories_swiper/main-page-categories-arrow-right.svg");
      background-repeat: no-repeat;
      background-size: 14px;
      background-position: center;
      background-color: $white;
      box-shadow: 0px 0px 30.2px 1px #0000001a;
      border-radius: 100%;
      cursor: pointer;
      font-size: 0;
      margin-left: 20px;
      &:hover {
        background-color: #c90c0f17;
      }
    }
  }
  .tab-nav-arrows {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
}

@media (max-width: 991px) {
  .categories-tabs-swiper {
    margin: 32px 0;
  }
}
