#hero-left-menu {
  position: relative;
  margin-top: -54px;
  z-index: 10;
  .hero-left-menu {
    display: flex;
    flex-direction: column;
    width: 346px;
    height: auto;
    margin-right: 22px;
    border: 1px solid $border_grey;
    border-radius: 10px;
    background-color: $white;

    .dropdown-item:focus,
    .dropdown-item:hover {
      color: $main_color;
      background-color: unset;
      text-shadow: 0.3px 0px 0.1px, -0.3px 0px 0.1px;
    }

    .navbar-toggler {
      display: none;
    }

    .navbar-toggler-text {
      display: none;
    }

    .navbar-nav {
      display: flex;
      flex-direction: column;
      height: auto;
      .nav-item {
        position: relative;
        display: flex;
        align-items: center;
        height: 48px;
        min-height: 48px;
        padding: 0 20px;
        border-bottom: 1px solid $border_grey;
        .left-menu-icon {
          height: 20px;
          width: 22px;
        }
        &:hover {
          .nav-link {
            color: $main_color;
          }
          .left-menu-icon {
            filter: invert(36%) sepia(65%) saturate(5003%) hue-rotate(339deg)
              brightness(73%) contrast(130%);
          }
        }
        &-chevron-right {
          position: absolute;
          top: calc(50% - 6px);
          right: 23px;
        }
        .nav-link {
          display: flex;
          align-items: center;
          height: 48px;
          font-weight: 600;
          font-size: 16px;
          letter-spacing: 0%;
          padding: 6px 32px 6px 14px;
          width: 100%;
          font-family: "Roboto Condensed", serif;
          &::after {
            display: none;
          }
          &.show {
            color: $main_color;
          }
        }
        &:last-of-type {
          border-bottom: unset;
        }
        &.dropdown {
          .dropdown-menu {
            top: -51px !important;
            left: 294px !important;
            z-index: -1 !important;
            width: max-content;
            padding: 12px 39px;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  #hero-left-menu {
    .navbar-collapse.collapse {
      display: block !important;
    }
  }
}

@media (max-width: 991px) {
  #hero-left-menu {
    margin-top: 54px;
    .hero-left-menu {
      margin-right: 0;
      width: 100%;
      .navbar-nav {
        width: 100%;
        .nav-item-chevron-right {
          transform: rotate(90deg);
          user-select: none;
        }
        .nav-item {
          margin: 0;
          padding: 0 10px 0 14px;
          .nav-link {
            font-size: 14px;
          }
        }
        .nav-item.dropdown {
          &:has(.nav-link.dropdown-toggle.show) {
            .nav-item-chevron-right {
              transition: 0.6s;
              transform: rotate(-90deg);
            }
          }
          .dropdown-menu {
            top: -3px !important;
            left: 10px !important;
            z-index: 12 !important;
            padding: 8px 0 !important;
            border-radius: 0 !important;
            width: 100% !important;
            border-left: 0 !important;
            border-right: 0 !important;
            border: 1px solid $main_color;
            .dropdown-item {
              font-family: "Roboto Condensed", serif;
              font-size: 14px;
            }
          }
        }
      }
      &:has(.navbar-collapse.show) {
        height: 0;
        border: 0;
      }
    }
    .navbar-collapse {
      display: flex;
      margin-top: -40px;
      &.show {
        display: none;
      }
    }
    .navbar-toggler {
      position: relative;
      top: -48px;
      display: block !important;
      width: 56px;
      min-height: 40px;
      height: 40px;
      border-radius: 6px;
      transition: unset !important;
      border: 1px solid rgba(0, 0, 0, 0.15);
      padding: 0.25rem 0.75rem;
      &-icon {
        display: block;
        width: 30px;
        height: 30px;
        vertical-align: middle;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
      }
    }
    .navbar-toggler-text {
      position: relative;
      font-size: 14px;
      top: -23px;
      left: 56px;
      display: inline-flex !important;
      white-space: pre;
    }
  }
}

// Third-lvl-menu
#hero-left-menu {
  .hero-left-menu
    .navbar-nav
    .nav-item.dropdown
    .dropdown-toggle-third
    + .dropdown-menu-child {
    position: absolute;
    top: -1px !important;
    left: 99% !important;
    @media (max-width: 991px) {
      position: relative;
      top: 0 !important;
      left: 0 !important;
    }
  }
  .dropdown-toggle-third {
    padding-right: 64px;
    @media (max-width: 991px) {
      padding-bottom: 8px;
      .nav-item-chevron-right {
        transform: rotate(-270deg) !important;
      }
      &.show {
        .nav-item-chevron-right {
          transform: rotate(-90deg) !important;
        }
      }
    }
    &.show {
      & + .dropdown-menu.dropdown-menu-child {
        display: block;
      }
    }
  }
}
