#our_products_swiper {
  position: relative;
}

#our_products_container {
  position: relative;
}

.our_products_swiper {
  overflow: hidden;
}

@media (max-width: 991px) {
  #our_products_swiper {
    padding-top: 0;
    margin-bottom: 24px;
  }
}
