.color-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  border: 1px solid $main_color;
  background-color: $main_color;
  color: $white;
  width: max-content;
  height: 54px;
  padding: 15px 20px;
  text-decoration: none;
  border-radius: 10px;
  &.left-btn img {
    transform: rotate(180deg);
    margin-left: 0;
    margin-right: 10px;
  }
  img {
    margin-left: 10px;
  }
  &:hover {
    background-color: $white;
    color: $main_color;
    img {
      content: url("./../assets/icons/common/buttons/button_orange_arrow.svg");
    }
  }
}

.white-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  border: 1px solid $main_color;
  background-color: $white;
  color: $main_color;
  width: max-content;
  height: 54px;
  padding: 15px 20px;
  text-decoration: none;
  border-radius: 10px;
  &.left-btn img {
    transform: rotate(180deg);
    margin-left: 0;
    margin-right: 10px;
  }
  img {
    margin-left: 10px;
  }
  &:hover {
    background-color: $main_color;
    color: $white;
    img {
      content: url("./../assets/icons/common/buttons/button_white_arrow.svg");
    }
  }
}

.orange-save-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  border: 1px solid $main_color;
  background-color: $main_color;
  color: $white;
  width: max-content;
  height: 54px;
  padding: 15px 20px;
  text-decoration: none;
  border-radius: 10px;
  &.left-btn img {
    transform: rotate(180deg);
    margin-left: 0;
    margin-right: 10px;
  }
  img {
    margin-left: 10px;
  }
  &:hover {
    background-color: $white;
    color: $main_color;
    img {
      content: url("./../assets/icons/dashboard/save-btn-orange.svg");
    }
  }
}
