.input-slot {
  position: relative;
  margin-bottom: 16px;
  @media (max-width: 991px) {
    margin-bottom: 10px;
  }
  label {
    font-family: "Roboto Condensed", serif;
    position: absolute;
    top: 6px;
    left: 10px;
    background-color: $white;
    font-weight: 400;
    font-size: 11px;
    line-height: 19.47px;
    color: $text_color;
    padding: 0 10px;
    &::placeholder {
      color: $grey5;
    }
  }
  textarea {
    &::placeholder {
      color: $grey5;
    }
  }
}

input.form-input,
select.form-select {
  width: max-content;
  height: 50px;
  border: 1px solid $small_text_color;
  border-radius: 10px;
  background-color: $white;
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
  color: $small_text_color;
  padding: 0 16px;
  margin: 16px 0 0 0;
  &:focus,
  &:hover {
    border: 1px solid $main_color;
    outline: 0;
  }
}

textarea.form-textarea {
  width: max-content;
  height: 160px;
  border: 1px solid $small_text_color;
  border-radius: 10px;
  background-color: $white;
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
  color: $small_text_color;
  padding: 16px;
  margin: 16px 0 0 0;
  &:focus,
  &:hover {
    border: 1px solid $main_color;
    outline: 0;
  }
}

label.add-files {
  width: max-content;
  height: 160px;
  border: 1px solid $small_text_color;
  border-radius: 10px;
  background-color: $white;
  font-size: 11px;
  font-weight: 400;
  line-height: 19px;
  background-color: $white;
  color: $small_text_color;
  padding: 16px 32px;
  margin: 16px 0 0 0;
  &:focus,
  &:hover {
    border: 1px solid $main_color;
    outline: 0;
  }
}
