#topbar {
  background-color: $white;
  height: 39px;
  border-bottom: 1px solid $grey;
  .container {
    height: 36px;
    padding: 0;
    .left-topbar {
      display: flex;
      align-items: center;
      height: 39px;
      .topbar-link {
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        color: $grey12;
        border-right: 1px solid $grey7;
        padding: 0 16px;
        &:hover {
          color: $main_color;
        }
      }
      .topbar-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        color: $grey12;
        margin: 0;
        padding-left: 16px;
        span {
          color: $main_color;
        }
      }
    }
    .topbar-links {
      img {
        display: inline-flex;
        margin: 0 9px;
      }
      a {
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        color: $grey12;
        &.gtm-mail {
          display: flex;
          align-items: center;
          border-right: 1px solid $grey7;
          padding-right: 16px;
          font-weight: 400;
          font-size: 14px;
          line-height: 14px;
          color: $grey12;
        }
        &.gtm-phone {
          display: flex;
          align-items: center;
          padding-left: 8px;
          font-weight: 400;
          font-size: 14px;
          line-height: 14px;
          color: $grey12;
          @media (max-width: 991px) {
            padding-right: 0 !important;
          }
        }
        &:hover {
          color: $main_color;
        }
      }
    }
    .topbar-lang {
      a:last-of-type {
        padding-right: 0 !important;
      }
    }
    div:not(.topbar-lang) {
      a {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 90%;
        color: $black;
        text-decoration: none;
        &:first-of-type {
          padding-left: 0 !important;
        }
        &:hover {
          filter: brightness(0.9);
        }
        &.active {
          color: $text_color;
          text-shadow: 0.3px 0px 0.1px, -0.3px 0px 0.1px;
        }
      }
      span {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 90%;
        color: $text_color;
        width: 26px;
        height: 26px;
      }
    }
  }
}

@media (max-width: 1200px) {
  #topbar {
    .container {
      div {
        a {
          font-size: 13px;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  #topbar {
    height: auto;
    margin-top: 4px;
    > .container {
      height: 40px;
      padding-left: 8px !important;
      padding-right: 8px !important;
      display: flex !important;
      flex-direction: column;
      justify-content: flex-start !important;
      align-items: flex-end !important;
      .left-topbar {
        height: auto;
        a,
        span,
        p {
          font-size: 11px !important;
          padding: 2px 8px !important;
        }
        .topbar-text {
          padding-right: 0 !important;
        }
      }
      .topbar-links {
        a,
        span,
        p {
          font-size: 11px !important;
          padding: 2px 8px !important;
        }
        img {
          margin-left: 2px !important;
        }
      }
    }
  }
}

@media (max-width: 380px) {
  #topbar {
    > .container {
      .left-topbar {
        height: auto;
        a,
        span,
        p {
          font-size: 10px !important;
        }
      }
      .topbar-links {
        a,
        span,
        p {
          font-size: 10px !important;
        }
      }
    }
  }
}
