.login-page {
  display: flex;
  justify-content: center;
  .login-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 48px;
    max-width: 1278px;
    &__left {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: $white;
      border: 1px solid $grey5;
      border-radius: 10px;
      padding: 40px 80px;
      min-height: 412px;
      width: 100%;
      h2 {
        font-weight: 700;
        font-size: 28px;
        line-height: 38.08px;
        text-align: center;
        color: $text_color;
        text-transform: uppercase;
        margin: 0 0 28px 0;
      }
      .input-slot {
        width: 100%;
        margin: 0 0 12px 0;
        input {
          width: 100%;
        }
      }
      .password-reminder {
        display: flex;
        font-weight: 400;
        font-size: 14px;
        line-height: 24.78px;
        color: $text_color;
        margin: 0 0 24px 0;
        width: 100%;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      .color-btn {
        width: 239px;
        height: 50px;
        margin-top: 0;
        &:hover {
          img {
            filter: invert(36%) sepia(65%) saturate(5003%) hue-rotate(339deg)
              brightness(73%) contrast(130%);
          }
        }
      }
    }
    &__right {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: $white;
      border: 1px solid $grey5;
      border-radius: 10px;
      padding: 40px 80px;
      min-height: 412px;
      width: 100%;
      h2 {
        font-weight: 400;
        font-size: 28px;
        line-height: 38.08px;
        text-align: center;
        color: $text_color;
        margin: 0 0 40px 0;
      }
      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 25.6px;
        text-align: center;
        color: $text_color;
        max-width: 387px;
        margin: 0 0 20px 0;
      }
      .white-btn {
        width: 239px;
        height: 50px;
        margin: 0 0 40px 0;
        font-weight: 700;
      }
      .create-account {
        display: flex;
        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 25.6px;
          text-align: center;
          color: $text_color;
          a {
            font-weight: 700;
            color: $green;
            text-decoration: unset;
            &:hover {
              color: $main_color;
            }
          }
        }
      }
    }
  }
  .bottom-cart-buttons {
    .white-btn {
      font-family: "Roboto Condensed", serif;
      width: 241px;
      height: 50px;
    }
  }
}

@media (max-width: 960px) {
  .login-page {
    .login-content {
      flex-direction: column;
      gap: 24px;
      &__left {
        padding: 24px;
        min-height: unset;
        width: 100%;
        h2 {
          font-size: 18px;
          line-height: 1.1;
          margin: 0 0 16px 0;
        }
      }
      &__right {
        padding: 24px;
        min-height: unset;
        width: 100%;
        h2 {
          font-size: 18px;
          line-height: 1.1;
          margin: 0 0 16px 0;
        }
        p {
          font-size: 14px;
          line-height: 1.1;
          margin: 0 0 16px 0;
        }
        .create-account {
          p {
            font-size: 14px;
            line-height: 1.1;
          }
        }
      }
    }
    .bottom-cart-buttons {
      .white-btn {
        span {
          font-size: 14px;
          line-height: 1.1;
        }
      }
    }
  }
}

.login-wrapper,
.register-wrapper {
  background-color: $light_grey;
  padding-bottom: 55px;
  padding-top: 35px;
  @media (max-width: 991px) {
    padding: 16px 0 24px 0;
  }
}
