.contact-container {
  h1 {
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
    text-transform: uppercase;
    color: $text_color;
    margin: 0;
  }
  h4 {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    text-transform: uppercase;
    color: $grey5;
    margin: 6px 0 16px 0;
  }
  .contact-wrapper {
    position: relative;
    padding: 44px 0 19px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    &_col {
      display: flex;
      flex-direction: column;
      width: calc(33.3% - 23px);
      margin-right: 23px;
      margin-bottom: 23px;
      background-color: $white;
    }
  }
  .contact-map {
    margin-bottom: 64px;
    iframe {
      width: 100%;
    }
  }
}

@media (max-width: 1200px) {
  .contact-container {
    h1 {
      font-size: 40px;
    }
    h4 {
      font-size: 16px;
    }
  }
}

@media (max-width: 860px) {
  .contact-container {
    h1 {
      font-size: 32px;
    }
    h4 {
      font-size: 15px;
    }
    .contact-wrapper {
      padding: 24px 0;
      flex-direction: column;
      &_col {
        width: 100%;
        margin-right: 0;
      }
    }
  }
}
