.contact-container {
  h1 {
    font-weight: 700;
    font-size: 38px;
    line-height: 67.27px;
    color: $text_color;
    margin: 0;
    @media (max-width: 991px) {
      line-height: 1.2;
      margin-bottom: 16px;
    }
  }
  h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 18.75px;
    color: $grey14;
    margin: 0;
    max-width: 710px;
    @media (max-width: 991px) {
      line-height: 1.1;
      margin-bottom: 8px;
    }
  }
  .contact-wrapper {
    position: relative;
    padding: 44px 0 19px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    @media (max-width: 1240px) {
      flex-direction: column;
      gap: 24px;
      .contact-grey-box {
        width: 100% !important;
        justify-content: flex-start !important;
        .grey-left-col {
          margin-right: 24px !important;
        }
      }
      .contact-wrapper_col {
        width: 100% !important;
        margin: 0 !important;
        max-width: unset !important;
      }
    }
    &_col {
      margin-bottom: 51px;
      background-color: $white;
      &:not(:has(.contact-grey-box)) {
        width: 60%;
      }
      &:has(.contact-grey-box) {
        max-width: 695px;
        width: calc(40% - 40px);
        margin-right: 40px;
      }
      .contact-grey-box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: $grey15;
        border-radius: 10px;
        padding: 53px 70px;
        @media (max-width: 1360px) {
          padding: 40px;
        }
        .grey-left-col {
          margin-right: 16px;
        }
        p {
          white-space: pre;
        }
        h3 {
          font-family: "Roboto Condensed", serif;
          font-weight: 700;
          font-size: 32px;
          line-height: 37.5px;
          color: $text_color;
          margin: 0 0 24px 0;
        }
        a {
          font-family: "Roboto Condensed", serif !important;
          display: flex;
          margin: 0 0 16px 0;
          font-family: Roboto;
          font-weight: 700;
          font-size: 16px;
          line-height: 18.75px;
          color: $text_color;
          text-decoration: none;
          white-space: pre;
          &:hover {
            color: $main_color;
          }
          img {
            margin-right: 20px;
          }
        }
        @media (max-width: 991px) {
          flex-direction: column;
          padding: 8px 24px 24px 24px;
          p,
          a {
            font-size: 14px;
            line-height: 1.1;
            margin-bottom: 8px;
          }
          h3 {
            font-size: 25px;
            line-height: 1.1;
            margin-bottom: 19px;
            margin-top: 16px;
          }
        }
      }
      .send-form {
        display: flex;
        flex-direction: row;
        width: 100%;
        @media (max-width: 991px) {
          flex-direction: column;
        }
        &-left {
          width: 50%;
          @media (max-width: 991px) {
            width: 100%;
          }
          input {
            width: calc(100% - 19px);
          }
          img {
            margin-top: 16px;
          }
        }
        &-right {
          width: 50%;
          @media (max-width: 991px) {
            width: 100%;
          }
          textarea {
            width: 100%;
            height: 215px;
          }
          .color-btn {
            width: 239px;
            height: 50px;
            border-radius: 50px;
            margin-top: 8px;
            &:hover {
              img {
                content: unset;
                filter: invert(36%) sepia(65%) saturate(5003%)
                  hue-rotate(339deg) brightness(73%) contrast(130%);
              }
            }
          }
        }
      }
    }
  }
  .contact-map {
    margin-bottom: 64px;
    iframe {
      width: 100%;
    }
  }
}

@media (max-width: 1200px) {
  .contact-container {
    h1 {
      font-size: 40px;
    }
    h4 {
      font-size: 16px;
    }
  }
}

@media (max-width: 860px) {
  .contact-container {
    h1 {
      font-size: 32px;
    }
    h4 {
      font-size: 15px;
    }
    .contact-wrapper {
      padding: 24px 0;
      flex-direction: column;
      &_col {
        width: 100%;
        margin-right: 0;
      }
    }
  }
}
